$iransans_font_src: '~vrwebdesign-nuxt/assets/fonts/IRANSans';

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url($iransans_font_src+'/eot/IRANSansWeb_Bold.eot');
  src: url($iransans_font_src+'/eot/IRANSansWeb_Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url($iransans_font_src+'/woff2/IRANSansWeb_Bold.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url($iransans_font_src+'/woff/IRANSansWeb_Bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url($iransans_font_src+'/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
  src: url($iransans_font_src+'/eot/IRANSansWeb_Medium.eot');
  src: url($iransans_font_src+'/eot/IRANSansWeb_Medium.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url($iransans_font_src+'/woff2/IRANSansWeb_Medium.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url($iransans_font_src+'/woff/IRANSansWeb_Medium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url($iransans_font_src+'/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url($iransans_font_src+'/eot/IRANSansWeb.eot');
  src: url($iransans_font_src+'/eot/IRANSansWeb.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url($iransans_font_src+'/woff2/IRANSansWeb.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url($iransans_font_src+'/woff/IRANSansWeb.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url($iransans_font_src+'/ttf/IRANSansWeb.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url($iransans_font_src+'/eot/IRANSansWeb_Light.eot');
  src: url($iransans_font_src+'/eot/IRANSansWeb_Light.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url($iransans_font_src+'/woff2/IRANSansWeb_Light.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url($iransans_font_src+'/woff/IRANSansWeb_Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url($iransans_font_src+'/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url($iransans_font_src+'/eot/IRANSansWeb_UltraLight.eot');
  src: url($iransans_font_src+'/eot/IRANSansWeb_UltraLight.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url($iransans_font_src+'/woff2/IRANSansWeb_UltraLight.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url($iransans_font_src+'/woff/IRANSansWeb_UltraLight.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url($iransans_font_src+'/ttf/IRANSansWeb_UltraLight.ttf')
      format('truetype');
}
